{% extends "templates/front.html" %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ cacheBreaker('/less/powerup.subpage.less') }}" />

{% endblock %}

{% block includeJs %}{% endblock %}

{% block jquery %}{% endblock %}

{% block section %}

<div class="container pt50">

    <div class="w50 mauto">

        <h1 class="center underline">A PHP framework for Super Heroes</h1>

        <p>
            <b>PowerUp</b> is an easily deployable starting point for database driven web sites and web applications. It contains a suffient number of common tools to make development easy, yet allows as much flexibility as possible in order to customize individual projects.
        </p>

        <p>
            With <b>PowerUp</b> you get a list of built in features that should get you a running start on your projects. These are some of the built in features.
        </p>

        <ul>
            <li>Composer autoloading</li>
            <li><a href="/#fastroute">Fast routing</a></li>
            <li>TWIG templating and extensions</li>
            <li>LESS component library</li>
            <li>Single signon : Google, Facebook</li>
        </ul>

        <div class="center mt40">

            <a href="/admin" class="button medium bg-orange lighten mr10">Demo Admin</a>

            <a href="/api/me" class="button medium bg-orange lighten mr10">Demo API</a>

        </div>

    </div>

</div>

{% endblock %}