{% extends "templates/front.html" %}

{% block stylesheets %}

{% endblock %}

{% block includeJs %}{% endblock %}

{% block jquery %}

    console.log('Powerup is running');

{% endblock %}

{% block section %}

<div class="container pt50 center">

    <p>{{ meta.title }}</p>

    <p>{{ user.vendor }} : {{ user.firstName }}</p>

    <div class="mt20">

        <a href="/admin" class="button medium bg-orange lighten mr10">Admin</a>

        <a href="/panel" class="button medium bg-orange lighten mr10">Panel</a>

        <a href="/api/me" class="button medium bg-orange lighten mr10">API</a>

    </div>

</div>

{% endblock %}