{% extends "templates/front.html" %}


{% block stylesheets %}

    <link rel="stylesheet" href="{{ cacheBreaker('/less/powerup.subpage.less') }}" />

{% endblock %}

{% block includeJs %}{% endblock %}

{% block jquery %}{% endblock %}


{% block section %}

<div class="container center pt100">

    <img src="/img/powerup.png" class="mb50 sw100">

    <p>Login with one of these services</p>

    <a href="/login/google?redirect={{ urlQuery.redirect }}" class="button medium bg-blue darken">Google</a>

    <a href="/login/facebook?redirect={{ urlQuery.redirect }}" class="button medium bg-blue darken">Facebook</a>

</p>

{% endblock %}