{% extends "/templates/admin.html" %}

{% block section %}

<div class="grid p20 col4">

    <div class="card">
        <div class="header small">
            Small header
            <a href="#" class="openModal" dom="#edit"><i class="icon">edit</i></a>
        </div>
        <div class="body">Body</div>
        <div class="footer">Footer</div>
    </div>

    <div class="card stripe orange">
        <div class="header">
            Default header
            <a href="#" class="small white button"><i>lock</i> Action</a>
        </div>
        <div class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        <div class="footer">Footer</div>
    </div>

    <div class="card stripe green">
        <div class="body">Body</div>
        <div class="footer">

            Footer

            <a href="#" class="button bg-blue darken openModal" dom="#editProfile">Edit</a>

        </div>
    </div>

    <div class="card stripe blue">
        <div class="header noborder">Header no border</div>
        <div class="body">Chart</div>
    </div>

    <div class="card colspan2">
        <div class="header">
            User input
            <span>A brief description</span>
        </div>
        <div class="body pb0">

            {{ form( {id: 'profile', class: 'powerup grid columns', ajax: '/admin/user/update' } ) }}

                <div>

                    {{ input( {label: 'First name', name: 'firstName', value: user.firstName, required: true} ) }}

                    {{ input( {label: 'Last name', name: 'lastName', value: user.lastName} ) }}

                    {{ input( {label: 'Email', name: 'email', value: user.email} ) }}

                    {{ select( {label: 'Dataset', name: 'dataset', dataset: simple_list} ) }}

                </div>

                <div>

                    {{ input( {label: 'Email', name: 'email', value: user.email} ) }}

                    {{ input( {label: 'Date', name: 'date', type: 'date', format: 'yyyy-mm-dd'} ) }}

                    {{ textarea( {label: 'Text', name: 'description', value: 'Some text' } ) }}

                </div>

            {{ form() }}


        </div>
        <div class="footer noborder">

            <div>
                <a class="button">Cancel</a>
                <a class="button bg-red darken">Delete</a>
                <a id="updateProfile" class="button bg-green lighten">Save</a>
            </div>
        </div>
    </div>

    <div class="card border-blue">
        <div class="header bg-blue">Data display</div>
        <div class="body">Table</div>
    </div>

    <div class="card">
        <div class="body">Only body</div>
    </div>

</div>

{% endblock %}

{% block modals %}

    {% include 'modals/edit.html' %}

    {% include 'modals/editProfile.html' %}

{% endblock %}

{% block jquery %}

    $('#updateProfile').on('click', function() {

        $('#profile').submit();

    });

    {% include 'modals/test.js' %}

    openToast('PowerUp Admin is active', {icon: 'feedback'});

{% endblock %}