/* Web fonts */

@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,800');

/* Normalize */

@import 'normalize.css';

/* Components */

@import "components/core.less";
@import "components/menu.less";
@import "components/spacing.less";
@import "components/size.less";
@import "components/card.less";
@import "components/button.less";
@import "components/colors.less";

/* Define color scheme */

.white {
    color: @light-text-primary;
}

.red {
    color: @red-900;
}

.bg-red {
    background-color: @red-900;
    border-color: @red-900;
    color: @light-text-primary;
}

.border-red {
    border-color: @red-900;
}

.blue {
    color: @blue-900;
}

.bg-blue {
    background-color: @blue-700;
    color: @light-text-primary;
    border-color: @blue-700;

    &.lighten:hover {
        background-color: @blue-600 !important;
        border-color: @blue-600 !important;
    };

    &.darken:hover {
        background-color: @blue-800 !important;
        border-color: @blue-800 !important;
    };

}

.border-blue {
    border-color: @blue-900;
}

.orange {
    color: @orange-700;
}

.bg-orange {
    background-color: @orange-700;
    color: @light-text-primary;
    border-color: @orange-700;

    &.lighten:hover {
        background-color: @orange-600 !important;
        border-color: @orange-600 !important;
    };

    &.darken:hover {
        background-color: @orange-800 !important;
        border-color: @orange-800 !important;
    };

}

.border-orange {
    border-color: @orange-700;
}

/* Menu */
/* Options override default menu options. See more settings in components/menu.less */

@menuHeight: 6rem;
@menuBackground: rgba(0,0,0,0.1);
@menuShadow: none;

@menuTextColor: #fff;
@menuIconColor: #fff;
@menuHover: darken(@menuBackground, 15%);

@menuSubBackground: rgba(0,0,0,0.25);
@menuSubBorder: none;
@menuSubDivide: solid 0.1rem rgba(255,255,255,0.25);
@menuSubTextColor: rgba(255,255,255,0.75);;

/* Header */

#header {
    height: 50vh;
    max-height: 860px;
    background: url(/img/superheroes.jpg) no-repeat top center;
    background-size: cover;
}