/* Web fonts */

@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,800');

/* Normalize */

@import 'normalize.css';

/* Components */

@import "components/core.less";
@import "components/modal.less";
@import "components/menu.less";
@import "components/spacing.less";
@import "components/size.less";
@import "components/grid.less";
@import "components/card.less";
@import "components/button.less";
@import "components/colors.less";
@import "components/form.less";
@import "components/toast.less";

/* Define color scheme */

body {
    background-color: #f9f9f9;
}

@menuHeight: 5rem;
@menuDividerColor: rgba(0,0,0,0.2);

section {
    padding-top: @menuHeight;
}

.bg-red {

    background-color: @red-700;
    border-color: @red-700;
    color: @light-text-primary;

    &.lighten:hover {
    	background-color: @red-600;
        border-color: @red-600;
    };

    &.darken:hover {
    	background-color: @red-800;
        border-color: @red-800;
    };
}

.bg-green {

    background-color: @green-700;
    border-color: @green-700;
    color: @light-text-primary;

    &.lighten:hover {
    	background-color: @green-600;
        border-color: @green-600;
    };

    &.darken:hover {
    	background-color: @green-800;
        border-color: @green-800;
    };

}

.bg-blue {
    background-color: @blue-700;
    border-color: @blue-700;
    color: @light-text-primary;

    &.lighten:hover {
    	background-color: @blue-600;
        border-color: @blue-600;
    };

    &.darken:hover {
    	background-color: @blue-800;
        border-color: @blue-800;
    };

}

.bg-white {
    background-color: @white;
}

.bg-light-grey {
    background-color: @grey-50;
}

.border-blue {
    border-color: @blue-700;
}