@import "components/menu.less";

@menuHeight: 6rem;
@menuBackground: rgba(180, 92, 21, 0.1);
@menuShadow: none;

@menuTextColor: #fff;
@menuIconColor: #fff;
@menuHover: darken(@menuBackground, 50%);

@menuSubBackground: rgba(180, 92, 21, 1);
@menuSubBorder: none;
@menuSubDivide: solid 0.1rem rgba(255,255,255,0.25);
@menuSubTextColor: rgba(255,255,255,0.75);;

/* Header */

#header {
    height: @menuHeight;
}