<div id="edit" class="w30">
	<div class="card">
		<div class="header">
			Edit

			<a href="#" class="closeModal"><i class="icon">close</i></a>
		</div>
		<div class="body">

			{{ form( {id: 'myEdit', class: 'powerup'} ) }}

			{{ form() }}

		</div>
		<div class="footer bg-light-grey noborder">

			<a href="#" class="button darken closeModal">Close</a>
			<a href="#" id="saveForm" class="button bg-green darken">Save</a>

		</div>
	</div>
</div>