<div id="editProfile" class="w30">
	<div class="card">
		<div class="header">
			Profile

			<div>
				<a><i class="icon">edit</i></a>
				<a class="closeModal"><i class="icon">close</i></a>
			</div>
		</div>
		<div class="body">

			{{ form( {id: 'myProfile', class: 'powerup'} ) }}

				{{ input( {label: 'First name', name: 'firstName', value: user.firstName} ) }}

                {{ input( {label: 'Last name', name: 'lastName', value: user.lastName} ) }}

                {{ input( {label: 'Email', name: 'email', value: user.email} ) }}

			{{ form() }}

		</div>
		<div class="footer bg-light-grey noborder">

			<a href="#" class="button darken closeModal">Close</a>
			<a href="#" id="saveForm" class="button bg-green darken">Save</a>

		</div>
	</div>
</div>