<!DOCTYPE html>
<html lang="{{ env.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{ meta.title }}</title>

	<link rel='icon' href='/img/favicon-16.png' sizes='16x16' type='image/png'>
	<link rel='icon' href='/img/favicon-32.png' sizes='32x32' type='image/png'>
	<link rel='icon' href='/img/favicon-48.png' sizes='48x48' type='image/png'>

	<!-- Icons -->
	<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{{ cacheBreaker('/less/powerup.admin.less') }}" />

	{% block stylesheets %}{% endblock %}

	{% include 'snippets/script.google.tag.manager.html' with {'id': google.tagManager.id } %}

</head>
<body>

{% set Auth = user ?
    {
        content: user.firstName ~ ' ' ~ user.lastName ~ '<img src="%s" class="avatar">' | format( user.photoUrl ),
        submenu: [
            {
                content: 'Profile', href: '/profile'
            },
            {
                content: 'Log out', href: '/logout'
            },
        ]
    }
    :
    {content: 'Login', href: '/login'}
%}

{%

set mainMenu = [
    {
        content: 'left',
        options: [
            {
                content: '<img src="/img/favicon-32.png">', href: '/'
            },
            {
                divider: true
            },
            {
                content: 'Dashboard', href: '/admin'
            },
            {
                content: 'Users', href: '/admin/users'
            },
            {
                content: options, 'icon': {'code': 'arrow_drop_down', 'after': true},
                submenu: [
                    {
                        content: 'Option 1', href: '/option1', 'icon': {'code': 'event'}
                    },
                    {
                        content: 'Option 2', href: '/option2', 'icon': {'code': 'dns'}
                    },
                ]
            }
        ]
    },
    {
        align: 'right',
        options: [

            {
                divider: true
            },
            {
                content: 'Go to panel', href: '/panel'
            },
            Auth
        ]
    }
]

%}

{% include 'snippets/menu.top.html' with {menu: mainMenu} only %}

<section>

	{% block section %}{% endblock %}

    <div id="modals">

        {% block modals %}{% endblock %}

    </div>

</section>

{% include 'snippets/script.jquery.html' with {'version': '3.3.1'} %}

<!-- PowerUp.js -->
<script type="text/javascript" src="/js/powerup/core.js"></script>

{% block includeJs %}{% endblock %}

<script type="text/javascript">

	{% block js %}{% endblock %}

	$(function() {
		{% block jquery %}{% endblock %}
	});

</script>

</body>
</html>