<!DOCTYPE html>
<html lang="{{ env.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{ meta.title }}</title>

	<link rel='icon' href='/img/favicon-16.png' sizes='16x16' type='image/png'>
	<link rel='icon' href='/img/favicon-32.png' sizes='32x32' type='image/png'>
	<link rel='icon' href='/img/favicon-48.png' sizes='48x48' type='image/png'>

	<!-- Icons -->
	<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{{ cacheBreaker('/less/powerup.less') }}" />

	{% block stylesheets %}{% endblock %}

	{% include 'snippets/script.google.tag.manager.html' with {'id': google.tagManager.id } %}

</head>
<body>

<div id="header">

{% set Auth = user ?
    {
        content: user.firstName ~ ' ' ~ user.lastName ~ '<img src="%s" class="avatar">' | format( user.photoUrl ),
        submenu: [
            {
                content: 'Profile', href: '/profile'
            },
            {
                content: 'Log out', href: '/logout'
            },
        ]
    }
    :
    {content: 'Login', href: '/login'}
%}

{%

set mainMenu = [
{
    align: 'left',
    options: [
        {
            content: '<img src="/img/powerup-32.png">', href: '/'
        },
        {
            content: 'About', href: '/about'
        },
        {
            content: 'Support', href: '/support', 'append': {'icon': 'arrow_drop_down'},
            submenu: [
                {
                    content: 'FAQ', href: '/faq'
                },
                {
                    content: 'Road map', href: '/road-map'
                },
                {
                    content: 'Change log', href: '/change-log'
                }
            ]
        },
        {
            content: 'Features', 'append': {'icon': 'arrow_drop_down'},
            submenu: [
                {
                    content: 'PHP Fastroute', href: '/#fastroute'
                },
                {
                    content: 'TWIG extensions', href: '/#twig'
                },
                {
                    content: 'LESS components', href: '/#less'
                },
                {
                    content: 'MVC library', href: '/#mvclib'
                },
                {
                    content: 'GIT repos', href: '/#git'
                },
                {
                    content: 'Composer autoload', href: '/#composer'
                },
            ]
        },
        {
            content: 'Resources', 'append': {'icon': 'arrow_drop_down'},
            submenu: [
                {
                    content: 'Material UI Color Palette', href: 'http://materialuicolors.co', target: '_new'
                },
                {
                    content: 'Material Icons', href: 'https://material.io/tools/icons/', target: '_new'
                },
                {
                    content: 'My IP API', href: 'https://ip.stilmark.com/', target: '_new'
                },
            ]
        }
    ]
},
{
    align: 'right',
    options: [

        {
            content: 'v0.15', class: 'no-hover'
        },
        {
            divider: true
        },
        Auth
    ]
}]

%}

{% include 'snippets/menu.top.html' with {menu: mainMenu} only %}

</div>

<section>

	{% block section %}{% endblock %}

</section>

<footer>

	<div class="container">

	</div>

</footer>

{% include 'snippets/script.jquery.html' with {'version': '3.3.1'} %}

<!-- PowerUp.js -->
<script type="text/javascript" src="/js/powerup/core.js"></script>

{% block includeJs %}{% endblock %}

<script type="text/javascript">

	{% block js %}{% endblock %}

	$(function() {
		{% block jquery %}{% endblock %}
	});

</script>

</body>
</html>