#menuTop {
  background: rgba(180,92,21,0.1);
  box-sizing: border-box;
  box-shadow: none;
  z-index: 1000;
  position: fixed;
  display: block;
  width: 100%;
  height: 6rem;
  color: #fff;
}
#menuTop ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
#menuTop ul li {
  float: left;
  position: relative;
  font-size: 1.6rem;
  line-height: 6rem;
  height: 6rem;
}
#menuTop ul li:hover {
  background-color: rgba(0,0,0,0.1);
}
#menuTop ul li.divider {
  width: 0.1rem;
  height: 6rem;
  background-color: rgba(255,255,255,0.2);
  padding: 0;
}
#menuTop ul li a {
  display: inline-flex;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  padding: 0 1.5rem;
  height: 6rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#menuTop ul li a i {
  font-size: 2.4rem;
  line-height: 6rem;
  margin-left: 0.5rem;
  color: #fff;
}
#menuTop ul li.current {
  font-weight: 400;
  margin-top: -0.2rem;
  border-bottom: 0.2rem solid #fff;
}
#menuTop ul li.current a {
  margin-top: 0.2rem;
}
#menuTop ul li ul {
  display: none;
  position: absolute;
  top: 6rem;
  min-width: 20rem;
  background: #b45c15;
  border: none;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.05);
}
#menuTop ul li ul.left {
  left: 0rem;
}
#menuTop ul li ul.right {
  right: 0rem;
}
#menuTop ul li ul li {
  width: 100%;
  border-bottom: solid 0.1rem rgba(255,255,255,0.25);
  color: rgba(255,255,255,0.75);
  line-height: 4rem;
  height: 4rem;
}
#menuTop ul li ul li:last-child {
  border-bottom: 0;
}
#menuTop ul li ul li a {
  display: flex;
  margin: 0;
  padding: 0 1.5rem;
  white-space: nowrap;
  align-items: center;
  justify-content: left;
  height: 4rem;
  color: rgba(255,255,255,0.75);
}
#menuTop ul li ul li a i {
  margin-left: 0rem;
  margin-top: 0rem;
  margin-right: 1rem;
  color: rgba(255,255,255,0.75);
}
#menuTop img.avatar {
  line-height: 6rem;
  width: 3.2rem;
  height: 3.2rem;
  margin-left: 1.5rem;
  border-radius: 50%;
}
#header {
  height: 6rem;
}
