@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,800');
@import 'normalize.css';
html {
  font-size: 62.5%;
}
body {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
b,
strong {
  font-weight: 600;
}
b .heavy,
strong .heavy {
  font-weight: 800;
}
i {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
}
h1 {
  font-size: 3rem;
  line-height: 4rem;
}
h1.underline {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
a:hover {
  cursor: pointer;
}
.relative {
  position: relative;
}
.hide {
  display: none;
}
.center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.left {
  float: left;
}
.right {
  float: right;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  display: block;
  box-sizing: border-box;
  max-width: 1050px;
  margin: auto;
}
#modals {
  display: none;
}
#modal {
  display: none;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(61,73,92,0.7);
  overflow-y: scroll;
}
#modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal div.container {
  border-radius: 0.4rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 1rem 0.25rem rgba(0,0,0,0.25);
}
#menuTop {
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0px 0px 0.2rem 0.2rem rgba(0,0,0,0.25);
  z-index: 1000;
  position: fixed;
  display: block;
  width: 100%;
  height: 5rem;
  color: #333;
}
#menuTop ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
#menuTop ul li {
  float: left;
  position: relative;
  font-size: 1.6rem;
  line-height: 5rem;
  height: 5rem;
}
#menuTop ul li:hover {
  background-color: #ebebeb;
}
#menuTop ul li.divider {
  width: 0.1rem;
  height: 5rem;
  background-color: rgba(0,0,0,0.2);
  padding: 0;
}
#menuTop ul li a {
  display: inline-flex;
  text-decoration: none;
  color: #333;
  font-weight: 300;
  padding: 0 1.5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#menuTop ul li a i {
  font-size: 2.4rem;
  line-height: 5rem;
  margin-left: 0.5rem;
  color: #666;
}
#menuTop ul li.current {
  font-weight: 400;
  margin-top: -0.2rem;
  border-bottom: 0.2rem solid #fff;
}
#menuTop ul li.current a {
  margin-top: 0.2rem;
}
#menuTop ul li ul {
  display: none;
  position: absolute;
  top: 5rem;
  min-width: 20rem;
  background: #fff;
  border: 0.1rem solid #ddd;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.05);
}
#menuTop ul li ul.left {
  left: 0rem;
}
#menuTop ul li ul.right {
  right: 0rem;
}
#menuTop ul li ul li {
  width: 100%;
  border-bottom: 0.1rem solid #eee;
  color: #333;
  line-height: 4rem;
  height: 4rem;
}
#menuTop ul li ul li:last-child {
  border-bottom: 0;
}
#menuTop ul li ul li a {
  display: flex;
  margin: 0;
  padding: 0 1.5rem;
  white-space: nowrap;
  align-items: center;
  justify-content: left;
  height: 4rem;
  color: #333;
}
#menuTop ul li ul li a i {
  margin-left: 0rem;
  margin-top: 0rem;
  margin-right: 1rem;
  color: #333;
}
#menuTop img.avatar {
  line-height: 5rem;
  width: 3.2rem;
  height: 3.2rem;
  margin-left: 1.5rem;
  border-radius: 50%;
}
.m100 {
  margin: 10rem;
}
.mt100 {
  margin-top: 10rem;
}
.mb100 {
  margin-bottom: 10rem;
}
.ml100 {
  margin-left: 10rem;
}
.mr100 {
  margin-right: 10rem;
}
.m90 {
  margin: 9rem;
}
.mt90 {
  margin-top: 9rem;
}
.mb90 {
  margin-bottom: 9rem;
}
.ml90 {
  margin-left: 9rem;
}
.mr90 {
  margin-right: 9rem;
}
.m80 {
  margin: 8rem;
}
.mt80 {
  margin-top: 8rem;
}
.mb80 {
  margin-bottom: 8rem;
}
.ml80 {
  margin-left: 8rem;
}
.mr80 {
  margin-right: 8rem;
}
.m70 {
  margin: 7rem;
}
.mt70 {
  margin-top: 7rem;
}
.mb70 {
  margin-bottom: 7rem;
}
.ml70 {
  margin-left: 7rem;
}
.mr70 {
  margin-right: 7rem;
}
.m60 {
  margin: 6rem;
}
.mt60 {
  margin-top: 6rem;
}
.mb60 {
  margin-bottom: 6rem;
}
.ml60 {
  margin-left: 6rem;
}
.mr60 {
  margin-right: 6rem;
}
.m50 {
  margin: 5rem;
}
.mt50 {
  margin-top: 5rem;
}
.mb50 {
  margin-bottom: 5rem;
}
.ml50 {
  margin-left: 5rem;
}
.mr50 {
  margin-right: 5rem;
}
.m40 {
  margin: 4rem;
}
.mt40 {
  margin-top: 4rem;
}
.mb40 {
  margin-bottom: 4rem;
}
.ml40 {
  margin-left: 4rem;
}
.mr40 {
  margin-right: 4rem;
}
.m30 {
  margin: 3rem;
}
.mt30 {
  margin-top: 3rem;
}
.mb30 {
  margin-bottom: 3rem;
}
.ml30 {
  margin-left: 3rem;
}
.mr30 {
  margin-right: 3rem;
}
.m20 {
  margin: 2rem;
}
.mt20 {
  margin-top: 2rem;
}
.mb20 {
  margin-bottom: 2rem;
}
.ml20 {
  margin-left: 2rem;
}
.mr20 {
  margin-right: 2rem;
}
.m10 {
  margin: 1rem;
}
.mt10 {
  margin-top: 1rem;
}
.mb10 {
  margin-bottom: 1rem;
}
.ml10 {
  margin-left: 1rem;
}
.mr10 {
  margin-right: 1rem;
}
.p100 {
  padding: 10rem;
}
.pt100 {
  padding-top: 10rem;
}
.pb100 {
  padding-bottom: 10rem;
}
.pl100 {
  padding-left: 10rem;
}
.pr100 {
  padding-right: 10rem;
}
.ph100 {
  padding: 0 10rem 0 10rem;
}
.pv100 {
  padding: 10rem 0 10rem;
}
.p90 {
  padding: 9rem;
}
.pt90 {
  padding-top: 9rem;
}
.pb90 {
  padding-bottom: 9rem;
}
.pl90 {
  padding-left: 9rem;
}
.pr90 {
  padding-right: 9rem;
}
.ph90 {
  padding: 0 9rem 0 9rem;
}
.pv90 {
  padding: 9rem 0 9rem;
}
.p80 {
  padding: 8rem;
}
.pt80 {
  padding-top: 8rem;
}
.pb80 {
  padding-bottom: 8rem;
}
.pl80 {
  padding-left: 8rem;
}
.pr80 {
  padding-right: 8rem;
}
.ph80 {
  padding: 0 8rem 0 8rem;
}
.pv80 {
  padding: 8rem 0 8rem;
}
.p70 {
  padding: 7rem;
}
.pt70 {
  padding-top: 7rem;
}
.pb70 {
  padding-bottom: 7rem;
}
.pl70 {
  padding-left: 7rem;
}
.pr70 {
  padding-right: 7rem;
}
.ph70 {
  padding: 0 7rem 0 7rem;
}
.pv70 {
  padding: 7rem 0 7rem;
}
.p60 {
  padding: 6rem;
}
.pt60 {
  padding-top: 6rem;
}
.pb60 {
  padding-bottom: 6rem;
}
.pl60 {
  padding-left: 6rem;
}
.pr60 {
  padding-right: 6rem;
}
.ph60 {
  padding: 0 6rem 0 6rem;
}
.pv60 {
  padding: 6rem 0 6rem;
}
.p50 {
  padding: 5rem;
}
.pt50 {
  padding-top: 5rem;
}
.pb50 {
  padding-bottom: 5rem;
}
.pl50 {
  padding-left: 5rem;
}
.pr50 {
  padding-right: 5rem;
}
.ph50 {
  padding: 0 5rem 0 5rem;
}
.pv50 {
  padding: 5rem 0 5rem;
}
.p40 {
  padding: 4rem;
}
.pt40 {
  padding-top: 4rem;
}
.pb40 {
  padding-bottom: 4rem;
}
.pl40 {
  padding-left: 4rem;
}
.pr40 {
  padding-right: 4rem;
}
.ph40 {
  padding: 0 4rem 0 4rem;
}
.pv40 {
  padding: 4rem 0 4rem;
}
.p30 {
  padding: 3rem;
}
.pt30 {
  padding-top: 3rem;
}
.pb30 {
  padding-bottom: 3rem;
}
.pl30 {
  padding-left: 3rem;
}
.pr30 {
  padding-right: 3rem;
}
.ph30 {
  padding: 0 3rem 0 3rem;
}
.pv30 {
  padding: 3rem 0 3rem;
}
.p20 {
  padding: 2rem;
}
.pt20 {
  padding-top: 2rem;
}
.pb20 {
  padding-bottom: 2rem;
}
.pl20 {
  padding-left: 2rem;
}
.pr20 {
  padding-right: 2rem;
}
.ph20 {
  padding: 0 2rem 0 2rem;
}
.pv20 {
  padding: 2rem 0 2rem;
}
.p10 {
  padding: 1rem;
}
.pt10 {
  padding-top: 1rem;
}
.pb10 {
  padding-bottom: 1rem;
}
.pl10 {
  padding-left: 1rem;
}
.pr10 {
  padding-right: 1rem;
}
.ph10 {
  padding: 0 1rem 0 1rem;
}
.pv10 {
  padding: 1rem 0 1rem;
}
.m0 {
  margin: 0 !important;
}
.mauto {
  margin: auto;
}
.p0,
.nopadding {
  padding: 0 !important;
}
.pt0 {
  padding-top: 0 !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.sw200 {
  width: 20rem;
}
.sh200 {
  height: 20rem;
}
.vw100 {
  width: 100vw;
}
.vh100 {
  height: 100vh;
}
.w95 {
  width: 95%;
}
.h95 {
  height: 95%;
}
.sw190 {
  width: 19rem;
}
.sh190 {
  height: 19rem;
}
.vw95 {
  width: 95vw;
}
.vh95 {
  height: 95vh;
}
.w90 {
  width: 90%;
}
.h90 {
  height: 90%;
}
.sw180 {
  width: 18rem;
}
.sh180 {
  height: 18rem;
}
.vw90 {
  width: 90vw;
}
.vh90 {
  height: 90vh;
}
.w85 {
  width: 85%;
}
.h85 {
  height: 85%;
}
.sw170 {
  width: 17rem;
}
.sh170 {
  height: 17rem;
}
.vw85 {
  width: 85vw;
}
.vh85 {
  height: 85vh;
}
.w80 {
  width: 80%;
}
.h80 {
  height: 80%;
}
.sw160 {
  width: 16rem;
}
.sh160 {
  height: 16rem;
}
.vw80 {
  width: 80vw;
}
.vh80 {
  height: 80vh;
}
.w75 {
  width: 75%;
}
.h75 {
  height: 75%;
}
.sw150 {
  width: 15rem;
}
.sh150 {
  height: 15rem;
}
.vw75 {
  width: 75vw;
}
.vh75 {
  height: 75vh;
}
.w70 {
  width: 70%;
}
.h70 {
  height: 70%;
}
.sw140 {
  width: 14rem;
}
.sh140 {
  height: 14rem;
}
.vw70 {
  width: 70vw;
}
.vh70 {
  height: 70vh;
}
.w65 {
  width: 65%;
}
.h65 {
  height: 65%;
}
.sw130 {
  width: 13rem;
}
.sh130 {
  height: 13rem;
}
.vw65 {
  width: 65vw;
}
.vh65 {
  height: 65vh;
}
.w60 {
  width: 60%;
}
.h60 {
  height: 60%;
}
.sw120 {
  width: 12rem;
}
.sh120 {
  height: 12rem;
}
.vw60 {
  width: 60vw;
}
.vh60 {
  height: 60vh;
}
.w55 {
  width: 55%;
}
.h55 {
  height: 55%;
}
.sw110 {
  width: 11rem;
}
.sh110 {
  height: 11rem;
}
.vw55 {
  width: 55vw;
}
.vh55 {
  height: 55vh;
}
.w50 {
  width: 50%;
}
.h50 {
  height: 50%;
}
.sw100 {
  width: 10rem;
}
.sh100 {
  height: 10rem;
}
.vw50 {
  width: 50vw;
}
.vh50 {
  height: 50vh;
}
.w45 {
  width: 45%;
}
.h45 {
  height: 45%;
}
.sw90 {
  width: 9rem;
}
.sh90 {
  height: 9rem;
}
.vw45 {
  width: 45vw;
}
.vh45 {
  height: 45vh;
}
.w40 {
  width: 40%;
}
.h40 {
  height: 40%;
}
.sw80 {
  width: 8rem;
}
.sh80 {
  height: 8rem;
}
.vw40 {
  width: 40vw;
}
.vh40 {
  height: 40vh;
}
.w35 {
  width: 35%;
}
.h35 {
  height: 35%;
}
.sw70 {
  width: 7rem;
}
.sh70 {
  height: 7rem;
}
.vw35 {
  width: 35vw;
}
.vh35 {
  height: 35vh;
}
.w30 {
  width: 30%;
}
.h30 {
  height: 30%;
}
.sw60 {
  width: 6rem;
}
.sh60 {
  height: 6rem;
}
.vw30 {
  width: 30vw;
}
.vh30 {
  height: 30vh;
}
.w25 {
  width: 25%;
}
.h25 {
  height: 25%;
}
.sw50 {
  width: 5rem;
}
.sh50 {
  height: 5rem;
}
.vw25 {
  width: 25vw;
}
.vh25 {
  height: 25vh;
}
.w20 {
  width: 20%;
}
.h20 {
  height: 20%;
}
.sw40 {
  width: 4rem;
}
.sh40 {
  height: 4rem;
}
.vw20 {
  width: 20vw;
}
.vh20 {
  height: 20vh;
}
.w15 {
  width: 15%;
}
.h15 {
  height: 15%;
}
.sw30 {
  width: 3rem;
}
.sh30 {
  height: 3rem;
}
.vw15 {
  width: 15vw;
}
.vh15 {
  height: 15vh;
}
.w10 {
  width: 10%;
}
.h10 {
  height: 10%;
}
.sw20 {
  width: 2rem;
}
.sh20 {
  height: 2rem;
}
.vw10 {
  width: 10vw;
}
.vh10 {
  height: 10vh;
}
.w5 {
  width: 5%;
}
.h5 {
  height: 5%;
}
.sw10 {
  width: 1rem;
}
.sh10 {
  height: 1rem;
}
.vw5 {
  width: 5vw;
}
.vh5 {
  height: 5vh;
}
.grid {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin-bottom: 2rem;
}
.grid.columns {
  grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
}
.grid.col2 {
  grid-template-columns: repeat(2,1fr);
}
.grid.col3 {
  grid-template-columns: repeat(3,1fr);
}
.grid.col4 {
  grid-template-columns: repeat(4,minmax(33rem,1fr));
}
.grid div.colspan2 {
  grid-column-start: auto;
  grid-column-end: span 2;
}
.grid div.colspan3 {
  grid-column-start: auto;
  grid-column-end: span 3;
}
.grid div.colspan4 {
  grid-column-start: auto;
  grid-column-end: span 4;
}
.grid.nogap {
  grid-column-gap: 0;
  grid-row-gap: 0;
}
.grid.inline {
  display: inline-grid;
}
@media (max-width: 1400px) {
  .grid.col4 {
    grid-template-columns: repeat(2,minmax(33rem,1fr));
  }
  .grid div.colspan3 {
    grid-column-start: auto;
    grid-column-end: span 2;
  }
}
@media (max-width: 720px) {
  .grid.col2,
  .grid.col3,
  .grid.col4 {
    grid-template-columns: 1fr;
  }
  .grid div.colspan2,
  .grid div.colspan3,
  .grid div.colspan4 {
    grid-column-end: span 1;
  }
}
.card {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "header" "body" "footer";
  box-shadow: 0px 1px 3px 0.5px rgba(0,0,0,0.1);
  background-color: #fff;
  border-radius: 0.4rem;
  box-sizing: border-box;
  border: 1px solid #ddd;
  overflow: hidden;
  color: #333;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: left;
}
.card.stripe {
  border-top: 0.4rem solid #ccc;
}
.card.stripe.orange {
  border-top-color: #ff6d00;
}
.card.stripe.green {
  border-top-color: #388e3c;
}
.card.stripe.blue {
  border-top-color: #1976d2;
}
.card div {
  box-sizing: border-box;
}
.card div a {
  text-decoration: none;
}
.card div a i {
  color: rgba(0,0,0,0.87);
}
.card div a i.icon {
  font-size: 1.8rem;
  padding: 0.4rem;
  border-radius: 50%;
  margin-right: -0.4rem;
}
.card div a i.icon:hover {
  background-color: #ddd;
}
.card div.header {
  display: flex;
  justify-content: space-between;
  grid-area: header;
  align-items: center;
  font-size: 1.8rem;
  line-height: 5.8rem;
  font-weight: 300;
  height: 5.8rem;
  padding: 0 2rem;
  border-bottom: 0.1rem solid #ddd;
}
.card div.header.small {
  font-size: 1.4rem;
  line-height: 4rem;
  height: 4rem;
  padding: 0rem 2rem;
}
.card div.header.noborder {
  border-bottom: 0;
}
.card div.header span {
  font-size: 1.2rem;
  line-height: 4rem;
}
.card div.body {
  grid-area: body;
  display: block;
  padding: 1.6rem 2rem;
}
.card div.footer {
  display: flex;
  justify-content: space-between;
  grid-area: footer;
  align-self: flex-end;
  border-top: 1px solid #ddd;
  padding: 1.6rem 2rem;
}
.card div.footer.right {
  justify-content: flex-end;
}
.card div.footer.noborder {
  border: 0;
}
.card.inline {
  display: inline-block;
}
.card.noshadow {
  box-shadow: none;
}
.card.noborder {
  border: 0px;
}
.button {
  display: inline-block;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #fff;
  color: #333;
  border: 1px solid #999;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 1rem 1.4rem;
  text-decoration: none;
  filter: brightness(100%);
  margin-left: 0.5rem;
  transition: background-color 100ms linear;
  cursor: pointer;
}
.button i {
  font-family: 'Material Icons';
  text-transform: lowercase;
  font-style: normal;
}
.button:first-child {
  margin-left: 0;
}
.button.tiny {
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
}
.button.small {
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding: 0.8rem 1.2rem;
}
.button.medium {
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding: 1.2rem 1.6rem;
}
.button.large {
  font-size: 1.8rem;
  line-height: 1.8rem;
  padding: 1.4rem 1.8rem;
}
.button.giant {
  font-size: 2rem;
  line-height: 2rem;
  padding: 1.6rem 2rem;
}
.button:hover {
  background-color: #f5f5f5;
}
.button.noborder {
  border: 0;
}
.button.shadow-down {
  box-shadow: 0 0.4rem 0.4rem rgba(0,0,0,0.5);
}
form.powerup {
  box-sizing: border-box;
  width: 100%;
}
form.powerup *:focus {
  outline: none;
}
form.powerup div.formelement {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1.4rem;
}
form.powerup div.formelement:last-child {
  margin-bottom: 0;
}
form.powerup div.formelement label {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding-bottom: 0.5rem;
}
form.powerup div.formelement label.left {
  display: inline-block;
  float: left;
  white-space: nowrap;
}
form.powerup div.formelement textarea,
form.powerup div.formelement input,
form.powerup div.formelement select {
  display: block;
  outline: none;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  border: 0.1rem solid #ccc;
  border-radius: 0.2rem;
  box-shadow: 0 1px 0 1px rgba(0,0,0,0.04);
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 1rem;
  color: #333;
  background-color: #fdfdfd;
  font-size: 1.6rem;
  line-height: 2.0rem;
}
form.powerup div.formelement textarea[disabled],
form.powerup div.formelement input[disabled],
form.powerup div.formelement select[disabled] {
  color: #ccc;
  border: 0.1rem solid #ddd;
}
form.powerup div.formelement textarea:hover,
form.powerup div.formelement input:hover,
form.powerup div.formelement select:hover {
  border-color: #aaa;
}
form.powerup div.formelement textarea:focus,
form.powerup div.formelement input:focus,
form.powerup div.formelement select:focus {
  border-color: #888;
}
form.powerup div.formelement textarea {
  display: flex;
  flex: 1;
  min-height: 117px;
  resize: none;
}
form.powerup div.formelement textarea.resize {
  resize: auto;
}
form.powerup div.formelement select.select-css {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
form.powerup div.formelement select.select-css::-ms-expand {
  display: none;
}
form.powerup div.formelement select.select-css option {
  font-weight: normal;
}
#toast {
  position: fixed;
  bottom: 5px;
  right: 5px;
  margin-left: 5px;
  z-index: 1500;
}
#toast .toast {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  white-space: nowrap;
  padding: 1.5rem 2rem;
  margin-right: 2rem;
  border: 0.1rem solid rgba(0,0,0,0.2);
  border-radius: 0.4rem;
  float: right;
  clear: right;
}
#toast .toast i {
  margin-right: 1rem;
  border: 1px solid #fff;
  border-radius: 50%;
}
body {
  background-color: #f9f9f9;
}
section {
  padding-top: 5rem;
}
.bg-red {
  background-color: #d32f2f;
  border-color: #d32f2f;
  color: #ffffff;
}
.bg-red.lighten:hover {
  background-color: #e53935;
  border-color: #e53935;
}
.bg-red.darken:hover {
  background-color: #c62828;
  border-color: #c62828;
}
.bg-green {
  background-color: #388e3c;
  border-color: #388e3c;
  color: #ffffff;
}
.bg-green.lighten:hover {
  background-color: #43a047;
  border-color: #43a047;
}
.bg-green.darken:hover {
  background-color: #2e7d32;
  border-color: #2e7d32;
}
.bg-blue {
  background-color: #1976d2;
  border-color: #1976d2;
  color: #ffffff;
}
.bg-blue.lighten:hover {
  background-color: #1e88e5;
  border-color: #1e88e5;
}
.bg-blue.darken:hover {
  background-color: #1565c0;
  border-color: #1565c0;
}
.bg-white {
  background-color: #ffffff;
}
.bg-light-grey {
  background-color: #fafafa;
}
.border-blue {
  border-color: #1976d2;
}
