{% spaceless %}

<div id="menuTop">

    {% if container %}

    <div class="container">

    {% endif %}

    {% for item in menu %}

    <ul class="{{item.align|default('left')}}">

        {% for option in item.options %}

            {% if not option.submenu %}

                {% if option.divider %}

                    <li class="divider"></li>

                {% else %}

                    <li>{{ a(option) }}</li>

                {% endif %}

            {% else %}

                <li class="submenu">

                    {{ a(option) }}

                    <ul class="left">

                    {% for suboption in option.submenu %}

                        <li>{{ a(suboption) }}</li>

                    {% endfor %}

                    </ul>

                </li>

            {% endif %}

        {% endfor %}

    </ul>

    {% endfor %}

    {% if container %}

    </div>

    {% endif %}

</div>
{% endspaceless %}